@font-face {
	font-family: "MonaspaceArgon";
	src: url("Variable-fonts/MonaspaceArgonVarVF[wght,wdth,slnt].ttf");
}
@font-face {
	font-family: "MonaspaceKrypton";
	src: url("Variable-fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].ttf");
}
@font-face {
	font-family: "MonaspaceNeon";
	src: url("Variable-fonts/MonaspaceNeonVarVF[wght,wdth,slnt].ttf");
}
@font-face {
	font-family: "MonaspaceRadon";
	src: url("Variable-fonts/MonaspaceRadonVarVF[wght,wdth,slnt].ttf");
}
@font-face {
	font-family: "MonaspaceXenon";
	src: url("Variable-fonts/MonaspaceXenonVarVF[wght,wdth,slnt].ttf");
}

:root {
	--background: #1a1a1a;
	--argon-primary: #89deff;
	--argon-secondary: #c4ebff;
	--argon-accent: #89deff10;
	--krypton-primary: #b889ff;
	--krypton-secondary: #dcc4ff;
	--krypton-accent: #b889ff10;
	--neon-primary: #fe7e73;
	--neon-secondary: #ffb9b3;
	--neon-accent: #fe7e7310;
	--radon-primary: #fef073;
	--radon-secondary: #fff7af;
	--radon-accent: #fef07310;
	--xenon-primary: #4cffa0;
	--xenon-secondary: #8bffc1;
	--xenon-accent: #4cffa010;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-weight: normal;
	font-family: "MonaspaceArgon";
}
html,
body {
	height: 100vh;
	width: 100vw;
}
ul,
ol {
	list-style: none;
}

a {
	color: black;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
header {
	/* where to set the color of the nav bar */
	background: #ff1e1e;
	text-align: left;
	top: 0px;
	position: fixed;
	z-index: 999;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center; /* Add padding for spacing */
}

header h1 {
	font-size: 2em;
	padding: 0.3em 1em;
	transition: color 1s ease;
	cursor: default;
}
header h1:hover {
	color: white;
}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	margin: 0;
	padding: 0 1em;
	list-style: none;
	display: flex;
	gap: 1em; /* Add gap between nav items */
}

nav li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 1em;
}

nav li:hover a {
	font-size: 1.1em;
	font-weight: 700;
}

a {
	transition: font-size 0.5s ease, font-weight 0.5s ease;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 7%;
	left: 0;
	background-color: var(--background);
	background-color: var(--background);
	overflow-x: hidden;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.font-type {
	border-right: 3px solid white;
	height: 100%;
	width: 20%;
	color: white;
	cursor: pointer;
	transition: all 0.5s ease;
}

.argon:hover {
	color: var(--argon-primary);
	background-color: var(--argon-accent);
	border-right: var(--argon-primary);
	width: 25%;
}
.krypton:hover {
	color: var(--krypton-primary);
	background-color: var(--krypton-accent);
	border-right: var(--krypton-primary);
	border-left: var(--krypton-primary);
	width: 25%;
}
.neon:hover {
	color: var(--neon-primary);
	background-color: var(--neon-accent);
	border-right: var(--neon-primary);
	width: 25%;
}
.radon:hover {
	color: var(--radon-primary);
	background-color: var(--radon-accent);
	border-right: var(--radon-primary);
	width: 25%;
}
.xenon:hover {
	color: var(--xenon-primary);
	background-color: var(--xenon-accent);
	border-right: var(--xenon-primary);
	width: 25%;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
main {
	height: 100vh;
}

.hero {
	height: 50%;
	display: flex;
	flex-direction: column; /* Stack children vertically */
	background: navajowhite;
	background-size: cover;
	justify-content: center; /* Center children vertically */
	align-items: center; /* Center children horizontally */
	font-family: "MonaspaceArgon";
	position: relative; /* Position relative to place hero-type at the bottom */
}

.hero-type {
	border-right: 0.15em solid orange;
	font-size: 2.6rem;
	animation: blinking 1s infinite;
}

.hero-input {
	padding: 5px;
	width: 30%;
	height: 2em;
	display: block;
	position: absolute; /* Position absolute to place it at the bottom */
	bottom: 10px; /* Adjust as needed to place it near the bottom */
}

.hero-input:focus {
	border-color: rgb(74, 255, 80); /* Change the border color to blue on focus */
	outline: none; /* Remove the default outline */
}

@keyframes blinking {
	from {
		border-color: transparent;
	}
	to {
		border-color: orange;
	}
}

.font-set {
	height: 100vh;
	width: 100vw;
	background-color: yellow;
}

.history {
	height: 50%;
	background-color: green;
}
@media (max-width: 600px) {
	header {
		flex-direction: column;
		align-items: flex-start;
	}

	nav ul {
		flex-direction: column;
		width: 100%;
	}

	nav li {
		width: 100%;
		justify-content: flex-start;
	}
}
